#files
data/cache/frequencies_cache.json
data/source/frequencies_source/en_50k.txt
text_for_scanner_test

*.pyc
*.pyo
*.wav
*.mp3
*.json

# Coverage reports
.coverage
.coverage.*
htmlcov/
coverage.xml
*.cover

#dirs
venv
__pycache__/
doc/
tests/data
logs/
data/vocabularies/scoobykot
.pytest_cache/
.idea/
build/
dist/
*.egg-info/
node_modules/

.env
alembic.ini
wolern.egg-info/
