beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.1.8
deep-translator==1.11.4
gTTS==2.5.4
idna==3.10
iniconfig==2.1.0
joblib==1.5.1
nltk==3.9.1
numpy==2.3.1
packaging==25.0
pandas==2.6
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.1
python-dateutil==2.9.0.post0
pyttsx3==2.99
pytz==2025.2
regex==2024.11.6
requests==2.32.4
six==1.17.0
soupsieve==2.7
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
git+https://github.com/MikitaKarabeinikau/wolern.git@<commit>#egg=wolern
xlrd==2.0.2
