.exercise-panel-container {
display: flex;
  padding: 20px;
  background-color: #f9f9f9; /* A light background color for the panel */
}
.exercise-menu {
  flex: 0 0 auto; /* Adjust as needed */;
  width: 20%;
  padding: 1rem;
    border-right: 1px solid #ccc; /* Adds a visual separator */
}

.menu-item {
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}

.menu-item.selected {
    font-weight: bold;
    background-color: #847a7a;
}

.exercise-display {
    flex: 1;
    padding: 1rem;
    width: 80%

}